extends layouts/main-layout.pug

block content
    - if (!userLoggedIn)
      .postsAllContainer
        h2 Please login to view posts
            script(src="/js/homewithoutlogin.js")
    - else 
        +createPostForm(userLoggedIn)
        .postsContainer

        +createPostModals(userLoggedIn)
        - if (!userLoggedIn)
        .postsContainer
            script(src="/js/home.js")

block scripts
    script(src="/js/home.js")
    script(src="/js/homewithoutlogin.js")