extends layouts/main-layout.pug

block content
    .postsContainer
        - if (!userLoggedIn)
                h2 Please login to view posts
        - else 
            +createPostForm(userLoggedIn)
            .postsContainer

            +createPostModals(userLoggedIn)
            - if (!userLoggedIn)
            .postsContainer

block scripts
    if userLoggedIn
        script(src="/js/home.js")
    else
        script(src="/js/homewithoutlogin.js")