extends layouts/main-layout.pug

block content
    -if (!userLoggedIn)
        .postsContainer
        .no-posts
            h4 You must be logged in to view this page.
    -else
        +createPostForm(userLoggedIn)
        .postsContainer

        +createPostModals(userLoggedIn)

block scripts
    -if (!userLoggedIn)
        script(src="/js/homewithoutlogin.js")
    -else
        script(src="/js/home.js")